* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav {
    width: 80%;
}

.header__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
    padding: 5px;

}
.header__hero__herobottom{
    border: 2px dashed gray;
}

.header__top a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}

.header__top img {
    cursor: pointer;
}

.header__start {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header__end {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* header__center */

.header__center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__center__start {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__center__start p {
    font-size: 30px;
    display: flex;

}

.Каталог {
    padding: 14px 25px;
    background-color: #6F73EE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.header__center__input__buttom {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #6F73EE;
}

.header__center__input__buttom input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    background: none;
    outline: none;
}

.i {
    background-color: #6F73EE;
    border-radius: 2px;
    border: none;
    padding: 12px 15px;
    color: white;
}

.Везде {
    height: 100%;
    background-color:#cccfd4;
    border-radius: 2px;
    border: none;
    padding: 12px 15px;
    color: #282739;

}


.imgs img {
    font-size: 40px;
    gap: 20px;
}
.korzina{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


/* header bottom */


.header__bottom {
    width: 100%;
    background-color: #F4F7FB;

}

.header__bottom__mein {
    width: 80%;
    display: flex;
    align-items: center;
}

.header__bottom__text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.header__bottom__INPUT {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    cursor: pointer;
}


.header__bottom__P {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.header__bottom__ICON {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.header__bottom__text p:hover {
    background-color: #6F73EE;
    border-radius: 20px;
    padding:0 4px ;
}



.header__bottom__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #6F73EE;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 8px;
    gap: 10px;
    cursor: pointer;
}
.header__bottom__text p{
    cursor: pointer;
}


/* HERO */
  .HERO{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(58.73% 541.94% at 75.14% 62.23%, #A6A9FF 0%, #6F73EE 100%) ;
    border-radius: 5px;
  }
  .hero__mein{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
  }

  .hero__start{
     line-height: 40px;
     color: white;
  }
  .Новинка{
    margin-bottom: 40px;
    padding: 3px 3px;
    background-color: #6F73EE;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
  }
  .hero__start h1{
    font-size: 35px;
    color: white;
  }
  .Перейтивкатолог{
    padding: 15px 10px;
    border-radius: 5px;
    color: #6F73EE;
    border: none;
  }


/* bottom */
.hero__mein__bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    width: 80%;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
}

.bottom__mein p {
    font-size: 15px;
}

.bottom__mein {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}
.bottom__mein p{
    color: rgb(74, 74, 74);
}
.hero__end img{
    height: 100%;
    margin-top: 0px;
}
.herobutton button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
}
.button__left__img{
    width: 50px;
    height: 50px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.button__right p i{
 color: yellow;   
}
button{
cursor: pointer;
}

/* elektrosamakat */

.elektrosamakat{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.escardlar{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(/imgs/escard.png); */
    background-repeat: no-repeat;
    
}

